.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > span {
  margin: 1rem 2rem;
  font-size: 1.3rem;
}
.navbar > span i {
  cursor: pointer;
}
.userIcon {
  margin: 1rem 2rem;
}
.userIcon span {
  background-color: #339cff;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* user input */
.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.inputBox {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputBox input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  padding-right: 50px;
  font-size: 1.1rem;
  border-radius: 14px;

}
.inputBox input:focus {
  outline: none;
}
#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 1.3rem;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#submit i:hover {
  color: #b4b4b4;
  font-size: 1.29rem;
}
.info {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #b4b4b4;
}
