.chats {
  width: 100%;
  max-width: 700px;
  overflow-y: scroll;
  padding: 8rem;
}
.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}
.userMessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15rem;
  max-width: 500px;
  width: fit-content;
}

.gtpDiv {
  text-align: left;
  font-size: 1rem;
}

.hljs {
  border-radius: 14px !important;
}
pre {
  white-space: pre-wrap;
}
